.headerWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    height: 55px;
    position: relative;
    margin: 0 clamp(1rem, 0.478rem + 2.458vw, 2rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: normal;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.leftSide{
    display: flex;
    flex-direction: column;
}

.accessingData{
    user-select: none;
    opacity: 60%;
    color: var(--color-secondary);
    font-size: 6px;
    margin-bottom: 4px;
}

.titleWrapper{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.title{
    font-family: var(--font-orbitron);
    font-size: 24px;
    font-weight: 500;
    line-height: 80%;
}

.titleUIEl{
    opacity: 60%;
    font-family: var(--font-orbitron);
    font-size: 4px;
    font-weight: bold;
    user-select: none;
}

.rightSide{
    display: flex;
    gap: 10px
}

.rightSideUIEl{
    color: var(--color-primary);
    font-family: var(--font-orbitron);
    font-weight: 500;
    font-size: 4px;
    line-height: normal;
    text-align: right;
    user-select: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header{
        max-width: 1200px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}