.window{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(calc(100% + 24px));
    background-color: var(--color-bg);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.25));
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: var(--color-bg);
}

.backBtn{
    width: 38px;
    height: 38px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s;
}

.backBtn:hover{
    background-color: var(--color-secondary);
    filter: drop-shadow(0 0 6px rgba(255, 213, 11, 0.25));
}

.headerTextWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 4px;
}

.headerTopText{
    font-family: var(--font-orbitron);
    font-size: 0.938rem;
    font-weight: 700;
    line-height: 1;

}

.headerBottomText{
    font-family: var(--font-orbitron);
    font-size: 0.625rem;
    line-height: 1;
}

.sectionWrapper{
    border: 1px solid white;
    border-top: 0;
    padding: 16px 6px 32px 16px;
    height: calc(100% - 38px);
}

.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 16px;
    overflow-y: scroll;
    height: 100%;
}

.sectionInfoWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projectTitle{
    font-family: var(--font-orbitron);
    font-size: 1.25rem;
    font-size: 700;
    padding-left: 16px;
    border-left: 3px solid var(--color-secondary);
}

.stackUl{
    display: flex;
    gap: 10px;
}

.stackLi{
    background-color: var(--color-tertiary);
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 4px 8px;
}

.linkBtn{
    background-color: var(--color-primary--darkest);
    border: 1px solid var(--color-primary);
    filter: drop-shadow(0 0 4px var(--color-primary));
    font-weight: 700;
    padding: 8px 12px;
    width: fit-content;
    transition: 0.2s;
}

.linkBtn:hover{
    background-color: var(--color-primary);
}

.caseStudyWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 80px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .aboutMainContentWrapper{
        display: flex;
        flex-direction: row;
    }

    .portraitWrapper{
        width: 50%;
    }

    .contentWrapper{
        width: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .window{
        position: relative;
        transform: translateX(0);
        width: calc(2/3 * 100%);
        height: 100%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}