.hackingMain{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hackingContainer{
    background-color: var(--color-bg);
    position: absolute;
    display: flex;
    align-items: center;
    left: 5%;
    border: 1px solid white;
    width: clamp(327px, 90%, 750px);
    height: 90%;
    overflow: hidden;
}

.titleWrapper{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hackingContainer__title{
    width: fit-content;
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    font-family: var(--font-orbitron);
    font-weight: 700;
    font-size: 14px;
    padding: 0px 6px;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}

.hackingContainer__etc{
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    font-size: 10px;
}

.hackingUIWrapper{
    position: relative;
    top: 16px;
    font-size: 8px;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}

.navigationContainer{
    background-image: url("/public/images/circuit-bg.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.navigationController{
    position: absolute;
    top: calc(50% - 83px);
    left: calc(50% - 53px/2);
    z-index: 20;
}

.navigationMap{
    position: absolute;
    top: calc(50% - (87px + 25px));
    right: calc(50% - (152px + 30px));
}

.enterBtn{
    position: absolute;
    z-index: 30;
    top: calc(50% + 54px);
    left: calc(50% - 66px);
    cursor: pointer;
    width: 129px;
    padding: 8px;
    background-color: var(--color-bg);
    border: 3px solid white;
    font-family: var(--font-orbitron);
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s;
    transform-origin: center;
}

.enterBtnInner{
    background-color: white;
    color: var(--color-bg);
    padding: 4px 14px;
    transition: 0.2s;
    transform-origin: center;
}

.enterBtn:hover{
    filter: drop-shadow(0 0 6px white);
}

.enterBtn:active .enterBtnInner{
    background-color: #bfc4c5;
    padding: 3px 12px;
    font-size: 19px;
}

.controls{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 8px;
}

.controlsLabel{
    width: fit-content;
    font-family: var(--font-orbitron);
    font-size: 12px;
    font-weight: 700;
    padding: 0 2px;
    color: white;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.75));
}

.iconsWrapper{
    display: flex;
    gap: 10px;
}

.kbdIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary--darkest);
    min-width: 34px;
    height: 34px;
    padding: 1px;
    filter: drop-shadow(0 0 4px rgba(189, 74, 74, 0.5));
}

.kbdInnerIcon{
    background-color: var(--color-primary--darkest);
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary); 
    font-weight: 700;
    filter: drop-shadow(0 0 4px rgba(189, 74, 74, 0.5));
}

.kbdInnerIconEnter{
    padding: 4px;
}

.kbdIconTouch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary--darker);
    width: 34px;
    height: 34px;
    filter: drop-shadow(0 0 4px rgba(189, 74, 74, 0.5));
    padding: 1px;
}

@media (min-width: 992px) {
    .hackingContainer__title{
        font-size: 16px;
    }
}