.hackingMain{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hackingContainer{
    background-color: var(--color-bg);
    position: absolute;
    display: flex;
    align-items: center;
    left: 5%;
    border: 1px solid white;
    width: clamp(327px, 90%, 750px);
    height: 90%;
    overflow: hidden;
}

.titleWrapper{
    position: absolute;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hackingContainer__title{
    width: fit-content;
    background-color: var(--color-primary);
    font-family: var(--font-orbitron);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2px 8px;
}

.navigationContainer{
    background-image: url("/public/images/circuit-bg.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.navigationController{
    position: absolute;
    top: calc(50% - 83px);
    left: calc(50% - 53px/2);
    z-index: 20;
}

.navigationMap{
    position: absolute;
    top: calc(50% - (87px + 25px));
    right: calc(50% - (152px + 30px));
}

.enterBtn{
    position: absolute;
    z-index: 30;
    top: calc(50% + 54px);
    left: calc(50% - 66px);
    cursor: pointer;
    width: 129px;
    padding: 8px;
    background-color: var(--color-bg);
    border: 3px solid white;
    font-family: var(--font-orbitron);
    font-weight: 700;
    font-size: 20px;
    transition: 0.2s;
    transform-origin: center;
}

.enterBtnInner{
    background-color: white;
    color: var(--color-bg);
    padding: 4px 14px;
    transition: 0.2s;
    transform-origin: center;
}

.enterBtn:hover{
    filter: drop-shadow(0 0 6px white);
}

.enterBtn:active .enterBtnInner{
    background-color: #bfc4c5;
    padding: 3px 12px;
    font-size: 19px;
}

.controls{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controlsLabel{
    font-family: var(--font-orbitron);
    font-weight: 700;
}

.iconsWrapper{
    display: flex;
    gap: 10px;
}

.kbdIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C4C4C;
    border: 1px solid white;
    min-width: 30px;
    height: 30px;
    padding: 8px;
}