.closeBtn{
    cursor: pointer;
    right: 0;
    aspect-ratio: 1;
    width: 42px;
    height: auto;
    font-family: var(--font-orbitron);
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    padding: 0 6px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary--darker);
    filter: drop-shadow(0 0 4px var(--color-primary));
}

.closeBtn:hover{
    background-color: var(--color-primary);
}

.buttonX{
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}