.profileSection{
    background-color: var(--color-bg);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-top: 8px solid white;
    width: 100%;
    padding: 8px 12px;
    line-height: normal;
}

.contentWrapper{
    border: 1px solid white;
    padding: 16px 16px 28px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: 700;
}

.details_wrapper{
    user-select: none;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 4px;
}