.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentWrapper{
    background-color: var(--color-bg);
    border: 1px solid white;
    padding: 16px 16px 28px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: 700;
}

.loaded{
    background-color: var(--color-primary);
    color: var(--color-bg);
    height: fit-content;
    font-size: 6px;
    padding: 0 2px;
}