.profileWrapper{
    opacity: 0;
    visibility: hidden;
    top: 0;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.profileMain{
    position: relative;
    overflow-y: scroll;
    height: calc(100% - 75px);
    display: flex;
    justify-content: flex-start;
}

.profileContentWrapper{
    margin: 0 clamp(1rem, 0.478rem + 2.458vw, 2rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**** PROFILE CARD ****/

.profileCard{
    display: flex;
    padding-bottom: 59px;
    gap: 20px;
    align-items: center;
}

.portraitWrapper{
    position: relative;
    display: flex;
    width: clamp(230px, 60%, 300px);
    aspect-ratio: 2 /3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mugshotWrapper{
    background-color: rgba(255, 255, 255, 0.35);
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid white
}

.mugshot{
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%; 
    transform: scale(1.2);
}

.nameplate_wrapper{
    position: absolute;
    background-color: rgba(13, 13, 26, 0.8);
    border: 1px solid white;
    font-family: var(--font-orbitron);
    padding: 3px;
    margin-bottom: 8px;
}

.nameplate_label{
    font-size: 10px;
}

.nameplate_name{
    font-size: 14px;
    font-weight: bold;
}

/** mugshot details **/
.mugDetails{
    font-family: var(--font-orbitron);
    line-height: normal;
    opacity: 60%;
    user-select: none;
}

.mD_awesomenessWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.mD_awesomeness{
    font-size: 6px;
    font-weight: bold;
    margin-bottom: 4px;
}

.mD_history{
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mD_prime{
    font-size: 4px;
    font-weight: bold;
    margin-bottom: 7px;
}

.mD_threatWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.mD_threatLevel{
    font-size: 8px;
}

.mD_threatResultWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-bg);
    padding: 0 8px;
    width: fit-content;
}

.mD_threatResult{
    font-size: 10px;
}


.mD_socialBattery{
    font-size: 4px;
    font-weight: bold;
    margin-bottom: 7px;
}

.mD_attentionSpanWrapper,
.mD_powerLevelWrapper
{
    display: flex;
    flex-direction: column;
    font-size: 4px;
    font-weight: bold;
    gap: 2px;
    margin-bottom: 7px;
}

.mD_attentionSpanBar{
    background-color: white;
    width: 100%;
    height: 3px;
}

.mD_powerLevelBar{
    background-color: white;
    width: 70%;
    height: 3px;
}

/**** PROFILE SECTIONS ********/
.profileSectionsWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px ;
    height: fit-content;
    padding-bottom: 120px;
}

.profileSection__skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profileSection__bulletWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profileSection__subTitle{
    line-height: normal;
    color: var(--color-secondary);
    /* margin-bottom: 8px; */
}

.profileSection__ul{
    list-style-type: disc;
    margin-left: 12px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mugshotWrapper{
        aspect-ratio: 2/3;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .profileContentWrapper{
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .profileMain{
        margin-bottom: 140px;
    }

    .profileCard{
        width: 50%;
        height: fit-content;
    }

    .profileSectionsWrapper{
        width: 50%;
        margin-bottom: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .profileCard{
        width: calc(5/12*100%);
    }

    .profileSectionsWrapper{
        width: 60%;
    }


}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .profileMain{
        justify-content: center;
    }

    .profileContentWrapper{
        max-width: 1200px;
    }


}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}